version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
      args:
        NODE_ENV: development
    image: frontend
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    command: >
      sh -c "npm install &&
      npm run dev -- --hostname 0.0.0.0 --port 3000"
volumes:
  node_modules:
